[Package]
version: 1
depends: 

[Product]
type: localboot
id: ica-playme
name: ICA-PlayMe
description: Play audio bible
advice: 
version: 1.1.0
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[Changelog]
ica-playme2 (1.1.0-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  2/11/2021 16:10:46


ica-playme (1.0.1-1) stable; urgency=low

	* initial: created by opsi-setup-detector

 -- opsisetupdetector.exe <info@uib.de>  1/17/2021 15:33:40

